main {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 500px;
    margin: 0 auto;
}

label {
    display: flex;
    width: 100%;
    flex-flow: nowrap column;
    margin-top: 20px;
    background-color: lightgray;
    align-items: center;
    padding: 20px 0 20px 0;
    border-radius: 5px;
}

.formTitle {
    align-self: start;
    padding-left: 5%;
    margin-bottom: 10px;
    color: darkblue;
}

label div,
textarea {
    width: 90%;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    outline-color: darkorange;
}

label div {
    padding: 5px 0 5px 0;
    background-color: white;
    height: 40px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.buttonWrapper button {
    padding: 10px 20px 10px 20px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.buttonWrapper button:hover {
    background-color: lightseagreen;
    color: white;
}